<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="index-wrapper">
        <header>
            <div class="logo">
                <img width="126" height="29" src="{{url_for('static', path='/image/Site-Logo-Color.png')}}"

            </div>
            <div class="nav">
                <h1>똑똑케어</h1>
                <h1>똑똑메디컬</h1>
                <h1>언론 속의 똑똑케어</h1>
                <h1>문의/제휴를 원하시나요?</h1>
                <h1>ENG</h1>

            </div>
        </header>

        <!-- JQuery 및 Bootstramp 설치하기 -->
        <section></section>     <!-- 1 -->
        <section></section>     <!-- 2 -->
        <section></section>     <!-- 3 -->
        <section></section>     <!-- 4 -->
        <section></section>     <!-- 5 -->

        <footer></footer>
    </div>
</body>
</html>